@use "vars" as *;
@use "fonts" as *;
@use "header";
@use "footer";


//start global styles
body * {
    box-sizing: border-box;
}
body {
    font-family: $primary-font;
    background: $blue;
    background-image: url(../img/header-image.svg);
    background-size: 100vw;
    background-position: top right;
    background-repeat: no-repeat;
    color: $white;
    font-size: $font-size-main;
    margin: 0;
    left: 0;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    width: 1190px;
    max-width: 91.2vw;
    padding-left: 0;
    padding-right: 0;
}
.container--s {
    width: 1000px;
    max-width: 91.2vw;
}
.container--xs {
    width: 1040px;
    max-width: 91.2vw;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
}
.button {
    padding: 16.38px 21px;
    background-color: $aqua;
    color: $blue;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-top: 25px;
    display: inline-block;
    text-align: center;
}
p {
    margin-bottom: 0;
    line-height: 1.5;
}
.button--secondary {
    background-color: rgba(27, 51, 79, 1);
    color: $aqua;
}
.button--blue {
    background-color: rgba(128, 184, 255, 1);
    color: $blue;
}
.button--yellow {
    background-color: $yellow;
    color: $blue;
}
.button--dark-blue {
    border: none;
    background-color: $blue;
    outline: none;
    color: $aqua;
}
.button:hover {
    background-color: $aqua-hover;
    color: $blue;
}
.button--secondary:hover {
    background-color: rgba(64, 92, 126, 1);
    color: $aqua;
}
.button--blue:hover {
    background: rgba(161, 203, 255, 1);
}
.button--yellow:hover {
    background-color: rgba(255, 236, 129, 1);
}
.button--orange {
    background-color: $orange;
}
.button--orange:hover {
    background-color: $orange-hover;
}
.button--dark-blue:hover {
    background-color: #1B334F;
    color: $aqua;
}
.buttons-wrapper {
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.buttons-wrapper--center {
    justify-content: center;
}
.h1 {
    font-size: 62px;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1;
}
.h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0;
    margin-bottom: 27px;
}
.h2--s {
    font-size: 32px;
    font-weight: 700;
}
.h3 {
    font-size: 25px;
    font-weight: 700;
}
.h4 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 14px;
}
.sub-title {
    color: $yellow;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
img {
    height: auto;
}
.wrapper {
    width: 873px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-header {
    width: 615px;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .h2 {
        margin-bottom: 15px;
    }
    .icon-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
    }
}
.social-icon {
    background-color: $violet;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.social-icon:hover {
    background-color: rgba(161, 203, 255, 1);
}
.social-item {
    display: flex;
    align-items: center;
    .social-icon {
        margin-right: 14px;
    }
}
//end global styles

//start hero section styles
.hero-section {
    padding-top: 12vh;
}
.hero-section__content-inner {
    width: 480px;
    max-width: 100%;
}
.hero-section__description {
    font-size: 20px;
    line-height: 1.5;
    align-self: flex-end;
    width: 445px;
    max-width: 100%;
}
.hero-section__content {
    display: flex;
    flex-direction: column;
}
//end hero section styles

//start cards section styles
.cards-section {
    padding-top: 30px;
    padding-bottom: 65px;
}
.cards-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}
.card {
    width: 270px;
    min-width: 270px;
    background: #2A486B;
    border-radius: 8px;
    padding: 1px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    
}
.card:hover {
    background: linear-gradient(180deg, #FFE243 0%, #3FF1B2 100%);
    color: #fff;
}


.card__content {
    background: #091A2E;
    border-radius: 8px;
    padding: 40px 25px 25px 25px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card__image {
    width: auto;
    height: 122px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
}
.card__arrow {
    margin-top: 20px;
    display: block;
}
//end cards section styles

//start text-image section style
.text-image-section {
    .row {
        display: flex;
        align-items: center;
    }
}
.text-image__content {
    width: 414px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.illustration {
    max-width: 100%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
//end text-iage section style

//start info cards section style
.info-cards-row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.info-card {
    border: 1px solid #264160;
    width: 31%;
    padding: 23px 23px 32px 23px;
    border-radius: 8px;
    background: $blue;
    
}
.icon-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #051323;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-card {
    .h4 {
        margin-top: 17px;
    }
    p {
        font-size: 16px;
    }
}
//end info cards section style

//start benefits section
.benefits {
    background: url('../img/benefits.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 94px;
    margin-top: 60px;
}
.benefits__row {
    width: 1126px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    display: flex;
    gap: 3%;
    margin-bottom: 25px;
}
.benefits__card {
    width: 32%;
    border: 1px solid #2A486B;
    border-radius: 8px;
    background: #091A2E;
    padding: 50px 37px;
    text-align: center;
    .icon-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 19px;
    }
    .h3 {
        margin-bottom: 20px;
    }
}
.benefits__list {
    margin-top: 57px;
}
//end benefits style

//start integrations style
.integrations__content {
    width: 1126px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid rgba(27, 51, 79, 1);
    padding-top: 43px;
    padding-bottom: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.integrations__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1693px;
    gap: 13.5px;
    margin-top: 59px;
    transform: rotate(-2deg);
    margin-left: -106px;
    margin-bottom: 60px;

}
.integration__item {
    width: 265px;
    height: 162px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    transition: all 0.3s;
    img {
        max-width: 80%;
    }
}
.integration__item:hover {
    opacity: 1;
}
//end integrations style

//start oplossing style
.hero-image {
    width: 450px;
    max-width: 100%;
}
.info-cards-section--2 {
    padding-top: 150px;
    .h2 {
        margin-bottom: 60px;
    }
}
.text-image-section--2 {
    .text-image__content {
        margin-left: 0;
    }
}
.text-info-section p {
    margin-bottom: 30px;
}
.text-info-section p:last-child {
    margin-bottom: 0px;
}
.cta-card {
    border: 1px solid #264160;
    border-radius: 8px;
    text-align: center;
    padding: 32px 27px; 
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    .button {
        width: 184px;
        max-width: 100%;
    }
}
.cta__photo {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.cta__name,
.cta__maile {
    font-size: 16px;
}
//end oplossing style

//start faq style
.faq__item {
    background: $blue;
    border: 1px solid #2A486B;
    padding: 16px 22px;
    border-radius: 8px;
    margin-bottom: 21px;
}
.faq__item-text {
    display: none;
}
.faq__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq__item-btn {
    transition: all 0.3s;
}
.faq__item.active {
   .faq__item-text {
    display: block;
    padding-top: 20px;
    max-width: 95%;
   } 
   .faq__item-btn {
    transform: rotate(-90deg);
   }
}
.faq__item-btn {
    padding-left: 15px;
}
//end faq style

//start plans style
.plans__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
}
.plans__item {
    border: 1px solid $aqua;
    width: 360px;
    max-width: 32%;
    border-radius: 8px;
    padding: 32px;
    .button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 174px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
}
.plans__item--orange {
    border-color: $orange;
}
.plans__item--blue {
    border-color: $violet;
}
.plan__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 7px;
}
.plan__value {
    font-size: 62px;
    font-weight: 700;
    line-height: 1;
    color: $aqua;
}
.plans__item-content {
    margin-top: 40px;
}
.plans__item-row {
    padding-left: 37px;
    background-image: url('../img/tick-green.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.plans__item--orange {
    .plans__item-row {
        background-image: url('../img/tick-orange.svg');
    }
    .plan__value {
        color: $orange;
    }   
}
.plans__item--blue {
    .plans__item-row {
        background-image: url('../img/tick-blue.svg');
    }  
    .plan__value {
        color: $violet;
    }  
}
.plans__item--popular {
    padding-top: 48px;
    padding-bottom: 48px;
}
//end plans style 

//start form style
.form-section {
    padding-top: 100px;
    padding-bottom: 130px;
}
.form-wrapper {
    width: 873px;
    margin-left: auto;
    margin-right: auto;
    background: $aqua;
    border-radius: 8px;
    max-width: 100%;
    padding: 42px 57px 51px 57px;
    .h2 {
        color: $blue;
        text-align: center
    }
    .button {
        width: 328px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 40px;
    }
}
.label {
    display: block;
    color: $blue;
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 1;
}
.input {
    display: block;
    width: 100%;
    background-color: #24D596;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 5px;
    padding: 0 15px;
    color: $blue;
    font-family: $primary-font;
}
.select {
    display: block;
    width: 100%;
    background-color: #24D596;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 5px;
    padding: 0 15px;
    color: $blue;
    font-family: $primary-font;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    background-image: url('../img/arrow-blue.svg');
    background-repeat: no-repeat;
    background-position: right 25px center;
}

.select::-ms-expand {
    display: none;
}
.input-wrapper {
    width: 100%;
    margin-bottom: 20px;
}
.form-row {
    display: flex;
    justify-content: space-between;
    .input-wrapper {
        width: 48%;
    }
}
//end form style 

//start knoweledge page
.hero-knowledge {
    text-align: center;
    .sub-title {
        margin-bottom: 14px;
    }
    .h1 {
        margin-bottom: 40px;
    }
}
.hero-knowledge__image {
    width: 100%;
    border-radius: 8px;
}
//end knoweledge page

//start statistic page
.statistic .row {
    display: flex;
    align-items: stretch;
}
.statistic .col-md-4 {
    display: flex;
}
.statistic-item {
    border: 1px solid #264160;
    text-align: center;
    padding: 25px;
    border-radius: 8px;
    width: 310px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.statistic__value {
    font-size: 45px;
    font-weight: 500;
    line-height: 1.2;
}
.statistic-item--green {
    .statistic__value {
        color: $aqua;
    }
}
.statistic-item--yellow {
    .statistic__value {
        color: $yellow;
    }
}
.statistic-item--purple {
    .statistic__value {
        color: rgba(255, 167, 244, 1);
    }
}
//end statistic page 

@import "about-section";
@import "slider-section";
@import "media";